.custom-select {
    display: flex;
    width: 50%;
    margin: 0 auto;
}

.custom-select select {
    width: 50%;
    height: 75px;
    border: 1px solid brown;
    font-size: 24px;
    text-align-last: center;
    margin: 2% auto;
    margin-top: 5%;
    background-color: #ffe8e8;
    outline: none;
}

.custom-select select option {
    background-color: purple;
}

.followed-wrapper {
    display: flex;
}