.custom-select {
    display: flex;
    width: 50%;
    margin: 0 auto;
}

.custom-select select {
    font-family: 'Amatic SC', cursive;
    width: 50%;
    height: 75px;
    border: 1px solid brown;
    font-size: 24px;
    text-align-last: center;
    margin: 2% auto;
    margin-top: 5%;
    background-color: #ffe8e8;
    outline: none;
}

.followed-wrapper {
    display: flex;
}