.fav-button {
    background-color: darkred; 
    color: white; 
    border: 2px solid darkred;
    border-radius: 3px;
    height: 50px;
    width: 400px;
    font-size: 30px;
}

.fav-button:hover {
    background-color: white;
    color: darkred;
}