.nav-bar-container {
    height: 70%;
}

.nav-bar {
    height: 80px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-color: lightcoral;
    font-weight: 200;
    font-size: 200%;
    font-family: 'Quicksand', sans-serif;
    color: #894746;
}

.banner-image img {
    width: 100%;
}

.logo {
    position: absolute;
    width: 59px;
    left: 0;
    padding-left: 10px;
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 4px;
}

.logo:hover {
    background-color: #ffe8e8;
}

.logo img{
    width: auto;
    height: auto;
    max-width: 100%;
    max-height: 100%;
}

.nav-item {
    height: 100%;
    text-align: center;
    display: table;
    font-size: 85%;
}

.nav-item a, .logout {
    display: table-cell;
    vertical-align: middle;
}

.nav-item:hover {
    cursor: pointer;
    background-color: #ffe8e8;
}

/* .login, .signup {
    width: 10%;
} */
