.nav-bar-container {
    height: 70%;
}

.nav-bar {
    height: 80px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-color: lightcoral;
    font-weight: 200;
    font-size: 200%;
    font-family: 'Quicksand', sans-serif;
    color: #894746;
}

.nav-item {
    margin: 1%;
    font-size: 24px;
}

.banner-image img {
    width: 100%;
}

.logo {
    position: absolute;
    width: 70px;
    left: 0;
}

.logo img{
    width: auto;
    height: auto;
    max-width: 100%;
    max-height: 100%;
}
