.LoginPage {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
  }

  .general-form {
    background-image: url(https://i.imgur.com/V9KEnLh.png);
    background-size: cover;
    width: 35%;
    padding: 6%;
    margin: 8% auto;
    border-radius: 5px;
    text-align: center;
    font-family: 'Quicksand', sans-serif;
    color: #894746;
  }

  .form-header {
    font-size: 190%;
    margin-bottom: 5%;
  }

  .form-group {
    margin-top: 3%;
  }

  .col-sm-12 input {
    height: 30px;
    width: 49%;
    text-align: center;
    font-family: 'Quicksand', sans-serif;
    font-size: 100%;
    border-radius: 5px;
    border: 1px solid lightcoral;
    outline: none;
  }

  .input-button {
    background-color: #ffe8e8;
    color: #894746;
    border: 1px solid lightcoral;
    border-radius: 5px;
    height: 40px;
    width: 17%;
    font-size: 18px;
  }

  .input-button:hover {
    color: #ffe8e8;
    background-color: lightcoral;
    border: 1px solid #894746;
  }