.card-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 80%;
    margin: 0 auto;
}

.fire-header {
    font-family: 'Dancing Script', cursive;
    color: #91000E;
    text-align: center;
    font-size: 36px;
    width: 80%;
    margin: 1% auto;
    border-radius: 5px;
}

.fire-header img {
    height: 30px;
}